# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Sensitive PII files
pii_lookup_table.csv

# Local outputs
safe_output/*.csv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db